.inputBlock {
	height: 48px;
	border: var(--theme--border_input) 1px solid;
	background: var(--theme--background_input);

	border-radius: 24px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	flex-shrink: 0;
	position: relative;
	&__after {
		position: absolute;
		display: flex;
		align-items: center;
		right: 24px;
		top: 50%;
		transform: translateY(-50%);
	}
	&__before {
		position: absolute;
		display: flex;
		align-items: center;
		left: 24px;
	}
	&__input {
		color: var(--theme--text_primary);
		padding: 0 24px;
		background: transparent;
		border: 0;
		box-sizing: border-box;
		display: flex;
		flex-basis: 100%;
		flex-shrink: 1;
		height: 100%;
		outline: none;
	}
	&--stretched {
		width: 100%;
	}
}
