.card {
	background-color: var(--theme--background);
	color: var(--theme--text_primary);
	padding: 24px;
	box-sizing: border-box;

	&__header {
		margin-bottom: 24px;
	}
	&__table {
		margin-top: 16px;
	}
	// &--clickable {
	// 	&:hover {
	// 		cursor: pointer;
	// 	}
	// }

	border-radius: 16px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
